    /***************************************
****************************************
Website Name: Mozart Tribute page
Website URL: yuliya-ulanova/works/mozart-tribute.ru
Description: Free Code Camp project for portfolio
Tags: HTML5, CSS3, Sass, Tribute page
Version: 1.0
Website Author: Yuliya Ulanova
Author's URL: https://yuliya-ulanova.ru
*****************************************

Typography Guide
********************
Rock Salt (48px) - Header's logo
Rock Salt (20px) - Footer's Wiki link
Rock Salt (18px) - Introduction's blockquote, footer pre-wiki text
Rock Salt (14px) - Footer's author text
Raleway, Italic (48px) - Header's post-logo 
Raleway (20px) - Introduction's general text, Main general text
Ralewai, Bold Italic (14px) - Sidebar text 
********************

Color Guide
********************
#a42129, rgba(164, 33, 41, 0.8) - Burgundy (Header's background, Sidebar'a background)
#0d100c, rgba(13, 16, 12, ) - Black (Introduction's background)
#741919 - (Footer's background, Introduction, Sidebar's border)

#f0d8b3, rgba(240, 216, 179) - Beige (Header's font-color)
#a42129 - Light burgundy (Author text, Wiki link)
*****************************************/

/* Table Of Contents
********************************************************
0. CSS Reset 
1. General Styles (typography, etc.) 
2. Header Style
3. Main Body Content 
4. Sidebar Content 
5. Footer Content 
*********************************************************/